{% block sidebar %}


        <nav class="side-nav main-menu">
            <img src="../static/img/menu-icon.png" alt="menu" class="side-icon">
            <ul>
                <li class="nav-username" href="#">{{ username|safe }}</li>
                <li class="label">GOAT</li>
                <li class="has-children active">
                    <a href="">Gene Query</a>
                    <ul>
                        <li><a href="javascript:openForm('form-sGene')">Gene Query</a></li>
                        <li><a href="javascript:openForm('form-areaSelection')"> Area Selection</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="">Other Module</a>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#">Feature 1</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#">Feature 2</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="">Other Module</a>
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#">Feature 1</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#">Feature 2</a></li>
                    </ul>
                </li>

                <ul class="logout">
                    <li>
                       <a href="{% url "biomarqueurs.views.logoutUser"%}">
                            <span class="nav-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </ul>
            <div class="overlay"></div>
            <!-- other unordered lists here -->
        </nav>


{% endblock sidebar %}