{% load staticfiles %}
<link href="{%static '/biomarqueurs/static/css/main.css'%}" rel="stylesheet"type="text/css"/>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}"></script>
  <div id="header">
</div>
    <div id=" main_menu">

    </div>
<div id="container">
    <div id = auth>
        <iframe
        width=”640″
        height=”480″
        frameborder=”0″
        seamless=”seamless”
        scrolling=”no”
        src=”https://plot.ly/~Dreamshot/411/.embed?width=640&height=480″>

      </iframe>
        </div>
    <div id="graph">
        </div>
    {% extends "index.html" %}
        {% block content %}
            <h1>{{name}}</h1>
            {{table |safe}}
        {{ div2|safe }}
        {% endblock %}

</div>
<div id="footer">Copyright 2015 © </div>
