{% extends "index.html" %}

{% block body %}
<body>
    <div id="background" class="dimLayer"></div>
    {% include "form/form-sGene.html" %}
    {% include "form/form-areaSelection.html" %}
    {% block container %}
    <div class="l-container">
        {% include "inc/sidebar.html" %}
        <div class="content-wrapper">
            <a href="{% url "home"%}"><img src="../static/img/GOAT.png" alt="goat" class="logo-container"></a>
            {% block content %}
                    {% with content_template=content|safe|stringformat:"s"|add:".html" %}
                        {% include content_template %}
                    {% endwith %}
            {% endblock content %}
        </div>
    </div>
    {% endblock container %}
</body>
{% endblock body %}

