{% block form-areaSelection %}
    <div class="form" id="form-areaSelection">
         <form action="/SGene/" name="areaSelection" method="post" id="areaSelection" class="form-container">
            <input id="csrf" type='hidden' name='csrfmiddlewaretoken' value='MSBWTwBs4iNmhZY2I07GgqJxWVTCAPNN' />
            <input id="jsondata" type='hidden' name='jsondata' value='{{ jsonData|safe }}' />
            <input id="phenotypeSelected" type='hidden' name='phenotypeSelected' value='{{ phenotype|safe }}' />


            <div class="areaSelection">
                {% csrf_token %}
                <h3 class="form-legend">Area Selection</h3>
                <label for="chromosome" class="form-label">Chromosome # :</label>
                <input class="form-input-text" name="chromosome" id="chromosome"/>

                <label for="position" class="form-label">Position # :</label>
                <input class="form-input-text" name="position" id="position"/>
            </div>
            <div class="form-footer">
                <input type="submit" class="btn form-submit" value="Search" onclick=""/>
                <span class="btn form-cancel" id="Cancel" onClick="closeForm()">Cancel</span>
            </div>
        </form>
    </div>
{% endblock form-areaSelection %}