{% extends "home.html" %}

{% block content %}

        <h3 class="title"> Phenotype : </h3>

            <form action="/SGene/" name="view" method=POST class="form-title">
                {% csrf_token %}
                <select class="form-control" id="sel1" name="view" onChange="form.submit();">
                {% for phe in pheno %}
                    {% if phe in phenotype|safe %}
                        <option selected="selected">{{ phe }}</option>
                    {% else %}
                        <option>{{ phe }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </form>

        <div class="graph">
            {{ div1|safe }}
            {{ graph|safe }}
        </div>

    <div class="table-container">
        <div id="griddle-basic" class="table-goat"></div>
    </div>

    <!-- importation json data & creation table with griddle react js -->
    <script>
        var jsondata = {{ jsonData|safe }};

    </script>
    <script type="text/jsx">
        var LinkComponentDbSNP = React.createClass({
            render: function () {
                url = "http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs="+this.props.rowData.rs_ID;
                return <a href={url} target="_blank">dbSNP : {this.props.rowData.rs_ID}</a>
            }
        });
        var LinkComponentGWASCatalogue = React.createClass({
            render: function () {
                urlrs = "http://www.ebi.ac.uk/gwas/search?query="+this.props.rowData.rs_ID;
                urlgeb = "http://www.ebi.ac.uk/gwas/search?query="+this.props.rowData.GeneBefore;
                urlge = "http://www.ebi.ac.uk/gwas/search?query="+this.props.rowData.Gene;
                urlgea = "http://www.ebi.ac.uk/gwas/search?query="+this.props.rowData.GeneAfter;

                return (
                    <ul>
                        <li><a href={urlrs} target="_blank">by rs_ID</a></li>
                        <li><a href={urlgeb} target="_blank">by gene before</a></li>
                        <li><a href={urlge} target="_blank">by gene</a></li>
                        <li><a href={urlgea} target="_blank">by gene after</a></li>
                    </ul>
                );
            }
        });
        var LinkComponentGenecards = React.createClass({
            render: function () {
                urlgeb = "http://www.genecards.org/cgi-bin/carddisp.pl?gene="+this.props.rowData.GeneBefore;
                urlge = "http://www.genecards.org/cgi-bin/carddisp.pl?gene="+this.props.rowData.Gene;
                urlgea = "http://www.genecards.org/cgi-bin/carddisp.pl?gene="+this.props.rowData.GeneAfter;

                return (
                    <ul>
                        <li><a href={urlgeb} target="_blank">by gene before</a></li>
                        <li><a href={urlge} target="_blank">by gene</a></li>
                        <li><a href={urlgea} target="_blank">by gene after</a></li>
                    </ul>
                );
            }
        });


        var columnMeta = [
                        {
                "columnName": "rs_ID",
                "locked": false,
                "visible": true,
                "order": 1
            },
            {
                "columnName": "Chr",
                "locked": false,
                "visible": true,
                "order": 2
            },
            {
                "columnName": "Position",
                "locked": false,
                "visible": true,
                "order":3
            },
            {
                "columnName": "P-value",
                "locked": false,
                "visible": true,
                "order": 4
            },
            {
                "columnName": "GeneBefore",
                "locked": false,
                "visible": true,
                "order": 5
            },
            {
                "columnName": "Gene",
                "locked": false,
                "visible": true,
                "order": 6
            },
            {
                "columnName": "GeneAfter",
                "locked": false,
                "visible": true,
                "order": 7
            },
            {
                "columnName": "dbSNP",
                "locked": false,
                "visible": true,
                "customComponent": LinkComponentDbSNP,
                "order": 7
            },
            {
                "columnName": "GWAS_Catalog",
                "locked": false,
                "visible": true,
                "customComponent": LinkComponentGWASCatalogue,
                "order": 7
            },
            {
                "columnName": "Genecards",
                "locked": false,
                "visible": true,
                "customComponent": LinkComponentGenecards,
                "order": 7
            }
        ]


        React.render(
            <Griddle results={jsondata} useGriddleStyles={false} resultsPerPage={5} enableInfiniteScroll={true} bodyHeight={400} showSettings={true} showFilter={true} columnMetadata={columnMeta}/>,
            document.getElementById('griddle-basic')
            );
    </script>

{% endblock content %}