{% block content %}
    <div class="block-container">
        <div class="row">
            <div class="col-m-5 module-container">
                <h3 class="module-name">Gene Query</h3>

                <p class="module-description">
                    Search by rs ID or Gene name, view phenotypes general manhattan plot, view genomic region with area selection.
                </p>
                <div class="module-actionbar">
                    <a href="javascript:openForm('form-sGene')" class="module-link">Gene Query</a>
                </div>
            </div>
            <div class="col-m-2"></div>
            <div class="col-m-5 module-container">
                <h3 class="module-name">Statistical Analysis</h3>

                <p class="module-description">
                    description to come ...
                </p>
            </div>
        </div>
            <div class="col-m-5 module-container">
                <h3 class="module-name">Other Module</h3>

                <p class="module-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci alias aperiam deserunt
                    distinctio
                    id
                    illo illum in inventore iusto laborum nulla, numquam, provident recusandae, saepe sunt ullam
                    voluptatem
                    voluptatum?
                </p>
            </div>
        </div>
    </div>
{% endblock content %}